<div class="px-4 pt-8 pb-4 flex flex-col h-full">
    <div class="flex items-center mb-4 text-brandPrimary">
        <mat-icon class="mr-2">person_add</mat-icon>
        <span class="text-lg font-medium">New User</span>
    </div>
    <form [formGroup]="addUserForm" class="flex flex-col h-full justify-between" (ngSubmit)="onSubmit()">
        <div class="flex flex-col gap-3">
            <mat-form-field appearance="fill" class="w-full">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="fname">
                <mat-error *ngIf="addUserForm.get('fname')?.hasError('required')">First Name is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-full">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lname">
                <mat-error *ngIf="addUserForm.get('lname')?.hasError('required')">Last Name is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-full">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
                <mat-error *ngIf="addUserForm.get('email')?.hasError('required')">Email is required</mat-error>
                <mat-error *ngIf="addUserForm.get('email')?.hasError('email')">Invalid email address</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-full">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password">
                <mat-error *ngIf="addUserForm.get('password')?.hasError('required')">Password is required</mat-error>
                <mat-error *ngIf="addUserForm.get('password')?.hasError('minlength')">Password must be at least 6
                    characters</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-full">
                <mat-label>Confirm Password</mat-label>
                <input matInput type="password" formControlName="confirmPassword">
                <mat-error *ngIf="addUserForm.get('confirmPassword')?.hasError('required')">Confirm Password is
                    required</mat-error>
                <mat-error *ngIf="addUserForm.hasError('mismatch')">Passwords do not match</mat-error>
            </mat-form-field>
        </div>
        <div class="flex w-full items-center gap-3">
            <button class="w-full" mat-button type="button" (click)="onCancel()">Cancel</button>
            <button class="w-full" mat-raised-button color="primary" [disabled]="addUserForm.invalid" type="submit">Add
                User</button>
        </div>
    </form>
</div>