<div class="flex flex-col justify-between mb-4 p-6">
    <p class="text-[36px] font-medium text-brandPrimary">Pet Sales</p>

    <div class="flex items-center gap-3 mt-8">
        <label for="startDate">Select Date:</label>
        <mat-form-field appearance="fill">
            <mat-label>Select Date</mat-label>
            <input matInput [matDatepicker]="picker" [value]="defaultDate" (dateChange)="onDateChange($event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>

    <div class="w-full h-full sm:h-[400px] flex justify-center items-center border-b">
        <ng-container *ngIf="chartDataLoading$ | async; else chartContent">
            <mat-spinner diameter="60"></mat-spinner>
        </ng-container>

        <ng-template #chartContent>
            <canvas [height]="(isMobile$ | async) && '300'" baseChart [type]="'line'"
                [datasets]="(chartData$ | async)?.datasets" [labels]="(chartData$ | async)?.labels"
                [options]="chartOptions">
            </canvas>
        </ng-template>
    </div>

    <div class="flex flex-col mt-6">
        <p class="w-full flex justify-center text-[#666666] text-base font-bold">Daily Sales</p>

        <ng-container *ngIf="dailySalesLoading$ | async; else tableContent">
            <div class="w-full flex justify-center">
                <mat-spinner diameter="60"></mat-spinner>
            </div>
        </ng-container>

        <ng-template #tableContent>
            <app-table [columns]="columns" [disableSorting]="true" [dataSource]="(dailySales$ | async) ?? []">
            </app-table>
        </ng-template>
    </div>
</div>